@inherits Umbraco.Web.Mvc.UmbracoViewPage<TextPage>
@using Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="container">
    @*@Model.Content.GetPropertyValue("textField")*@
    @Model.TextField;
</div>