@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

    @{
        var currentSite = Model.Content.AncestorOrSelf(1);
        var photo = currentSite.HasProperty("backgroundImage") ? currentSite.GetPropertyValue<IPublishedContent>("backgroundImage") : null;
        var logo = currentSite.HasProperty("logotype") ? currentSite.GetPropertyValue<IPublishedContent>("logotype") : null;
    }
    <header class="wrapper clearfix">
        <div class="header" style="background-image:url(@photo.Url);">
            <div class="container">
                <img src="@logo.Url" class="logo" />
            </div>
        </div>
        <nav>
            <div class="container">
                <ul>
                    @foreach (var child in currentSite.Children())
                    {
                        <li><a href="@child.Url">@child.Name</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>

