<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1079" key="0825f6b9-ccf8-47f4-9077-76a9dba18b27" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-02-18T14:24:39" updateDate="2019-02-19T15:26:18" nodeName="Home page" urlName="home-page" path="-1,1079" isDoc="" nodeType="1075" creatorName="Tony Berglund" writerName="Tony Berglund" writerID="0" template="1074" nodeTypeAlias="Home" isPublished="false">
  
  
  
  
  
<bodyText><![CDATA[<p>Hello Camelonta! 2</p>]]></bodyText><pageTitle><![CDATA[Welcome to my first page]]></pageTitle><footerText><![CDATA[footer]]></footerText><logotype><![CDATA[umb://media/ca3a2e3191144ef2a5e5a8039a87323d]]></logotype><backgroundImage><![CDATA[umb://media/dbfeae9ee3b34ed2824a28e2763a74ee]]></backgroundImage><textPage id="1084" key="672c76d2-15f4-47a5-b8fb-8c72a6ee09aa" parentID="1079" level="2" creatorID="0" sortOrder="0" createDate="2019-02-18T18:12:18" updateDate="2019-02-18T18:25:24" nodeName="About us" urlName="about-us" path="-1,1079,1084" isDoc="" nodeType="1081" creatorName="Tony Berglund" writerName="Tony Berglund" writerID="0" template="1080" nodeTypeAlias="textPage" isPublished="false"><textField><![CDATA[<h2><span>Lorem ipsum dolor sit amet</span></h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>]]></textField></textPage></Home>
</root>